# --- Flutter / Dart ---
.dart_tool/
.packages
.melos_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Build outputs
build/
**/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/local.properties
android/app/profile/
android/app/release/
android/app/debug/
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
**/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Pods/
macos/.symlinks/
**/Flutter/ephemeral/

# Web
lib/generated_plugin_registrant.dart

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# IDEs
.vscode/
.idea/
*.iml

# Misc
*.log
.DS_Store
