# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/Flutter.podspec
**/GeneratedPluginRegistrant.*
**/flutter_export_environment.sh

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.keystore
*.jks

# Xcode
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

# VS Code
.vscode/
.idea/

# Misc
*.log
pubspec.lock
